*{
    font-family: 'Roboto', 'sans-serif';
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1{
    display: flex;
    font-size: 48px;
    font-weight: 100;
}
#top_layout{
    background: #000;
}
#top_layout .top_wrap .logo_wrap{
    margin-left: 30px;
    width: 100%;
    height: 100px;
    background: url(/42대\ 동연\ 로고.jpg) no-repeat;
}

.header{
    background: red;
    width: 100%;
    height: 100px;
}

.header > h2{
    flex: 1;
}

.content1{
    font-size: 20px;
    font-weight: lighter;
}

.content2{
    font-size: 14px;
    font-weight: 100;
}

.content3{
    font-size: 14px;
    font-weight: 100;
}

.content1_bold{
    font-size: 18px;
    font-weight: bold;
}

.result{
    font-size: 24px;
}

.intro_bg{
    background-image: url("flash-4244923_1920-1.png");
    width: 100%;
    height: 540px;
}

.body_header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.search_area{
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}

.search_area>form>input{
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0);
    color: #fff;
    padding-left: 10px;
}

.search_area>form>span{
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
}

.nav>li{
    margin-left: 84px;
}

.nav>li>a{
    color: #fff;
}

.amount{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin: auto;
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

.intro_text{
    width: 100%;
    margin: 140px auto 140px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4{
    color: #fff;
}

.main_text0{
    width: 100%;
    height: 600px;
    margin-top: -132px;
    background: #f1f2f3;
}

.main_text0 > h1{
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .content1{
    text-align: center;
}

.icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons > li{
    flex: 1;
    background: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
}

.icons > li > .icon_img{
    margin-top: 18px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .content2{
    width: 240px;
    margin: auto;
    letter-spacing: -1px;
}

.more{
    width: 100px;
    height: 30px;;
    background: #2f7af4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
}

.main_text1{
    width: 100%;
    height: 659px;
}

.main_text1 > h1{
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .content1{
    text-align: center;
}

.service{
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}

.service > .content2{
    padding: 20px;
}

.service > .content2 > h2{
    margin-bottom: 27px;
}

.main_text2{
    width: 100%;
    height: 418px;
    background-image: url("flash-4244923_1920.png");
}

.main_text2 > ul{
    display: flex;
    padding-top: 138px;
}

.main_text2 > ul > li{
    flex: 1;
    text-align: center;
}

.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div{
    color: #fff;
}

.more2{
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    cursor: pointer;
    margin: 16px auto;
}

footer{
    display: flex;
    background: #1f1f1f;
    padding: 30px;
}

footer > div:first-child{
    flex: 3;
    text-align: center;
    color: #fff;
}

footer > div:last-child{
    flex: 9;
    color: #fff;
}

footer > div > img{
    width: 200px;
    height: 200px;
    background: #fff;
}